In [1]:
using DataFrames
using CSV
ENV["COLUMNS"] = 1000
using CategoricalArrays


using Pipe: @pipe
using Setfield

## Initial steps

In [2]:
df = CSV.File("data/train.csv") |> DataFrame

891Ã—12 DataFrame
 Row â”‚ PassengerId  Survived  Pclass  Name                               Sex      Age        SibSp  Parch  Ticket            Fare     Cabin      Embarked
     â”‚ Int64        Int64     Int64   String                             String7  Float64?   Int64  Int64  String31          Float64  String15?  String1?
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚           1         0       3  Braund, Mr. Owen Harris            male          22.0      1      0  A/5 21171          7.25    missing    S
   2 â”‚           2         1       1  Cumings, Mrs. John Bradley (Florâ€¦  female        38.0      1      0  PC 17599          71.2833  C85        C
   3 â”‚           3         1       3  Heikkinen, Miss. Laina             female        26.0      0      0  STON/O2. 3101282   7.925   missing    S
   4 â”‚           4         1       1  Futrelle, Mrs. Jacques Heath (Liâ€¦  female        35.0      1      0  113803            53.1     C123       S
   5 â”‚           5         0       3  Allen, Mr. William Henry           male          35.0      0      0  373450             8.05    missing    S
   6 â”‚           6         0       3  Moran, Mr. James                   male     missing        0      0  330877             8.4583  missing    Q
   7 â”‚           7         0       1  McCarthy, Mr. Timothy J            male          54.0      0      0  17463             51.8625  E46        S
   8 â”‚           8         0       3  Palsson, Master. Gosta Leonard     male           2.0      3      1  349909            21.075   missing    S
   9 â”‚           9         1       3  Johnson, Mrs. Oscar W (Elisabethâ€¦  female        27.0      0      2  347742            11.1333  missing    S
  10 â”‚          10         1       2  Nasser, Mrs. Nicholas (Adele Achâ€¦  female        14.0      1      0  237736            30.0708  missing    C
  11 â”‚          11         1       3  Sandstrom, Miss. Marguerite Rut    female         4.0      1      1  PP 9549           16.7     G6         S
  â‹®  â”‚      â‹®          â‹®        â‹®                     â‹®                     â‹®         â‹®        â‹®      â‹®           â‹®             â‹®         â‹®         â‹®
 882 â”‚         882         0       3  Markun, Mr. Johann                 male          33.0      0      0  349257             7.8958  missing    S
 883 â”‚         883         0       3  Dahlberg, Miss. Gerda Ulrika       female        22.0      0      0  7552              10.5167  missing    S
 884 â”‚         884         0       2  Banfield, Mr. Frederick James      male          28.0      0      0  C.A./SOTON 34068  10.5     missing    S
 885 â”‚         885         0       3  Sutehall, Mr. Henry Jr             male          25.0      0      0  SOTON/OQ 392076    7.05    missing    S
 886 â”‚         886         0       3  Rice, Mrs. William (Margaret Norâ€¦  female        39.0      0      5  382652            29.125   missing    Q
 887 â”‚         887         0       2  Montvila, Rev. Juozas              male          27.0      0      0  211536            13.0     missing    S
 888 â”‚         888         1       1  Graham, Miss. Margaret Edith       female        19.0      0      0  112053            30.0     B42        S
 889 â”‚         889         0       3  Johnston, Miss. Catherine Helen â€¦  female   missing        1      2  W./C. 6607        23.45    missing    S
 890 â”‚         890         1       1  Behr, Mr. Karl Howell              male          26.0      0      0  111369            30.0     C148       C
 891 â”‚         891         0       3  Dooley, Mr. Patrick                male          32.0      0      0  370376             7.75    missing    Q
                                                                                                                                          870 rows omitted

In [3]:
names(df) |> show
describe(df)

["PassengerId", "Survived", "Pclass", "Name", "Sex", "Age", "SibSp", "Parch", "Ticket", "Fare", "Cabin", "Embarked"]

12Ã—7 DataFrame
 Row â”‚ variable     mean      min                  median   max                          nmissing  eltype
     â”‚ Symbol       Unionâ€¦    Any                  Unionâ€¦   Any                          Int64     Type
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ PassengerId  446.0     1                    446.0    891                                 0  Int64
   2 â”‚ Survived     0.383838  0                    0.0      1                                   0  Int64
   3 â”‚ Pclass       2.30864   1                    3.0      3                                   0  Int64
   4 â”‚ Name                   Abbing, Mr. Anthony           van Melkebeke, Mr. Philemon         0  String
   5 â”‚ Sex                    female                        male                                0  String7
   6 â”‚ Age          29.6991   0.42                 28.0     80.0                              177  Union{Missing, Float64}
   7 â”‚ SibSp        0.523008  0                    0.0      8                                   0  Int64
   8 â”‚ Parch        0.381594  0                    0.0      6                                   0  Int64
   9 â”‚ Ticket                 110152                        WE/P 5735                           0  String31
  10 â”‚ Fare         32.2042   0.0                  14.4542  512.329                             0  Float64
  11 â”‚ Cabin                  A10                           T                                 687  Union{Missing, String15}
  12 â”‚ Embarked               C                             S                                   2  Union{Missing, String1}

In [4]:
df[1:5,[:Survived,:Name]]

5Ã—2 DataFrame
 Row â”‚ Survived  Name
     â”‚ Int64     String
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚        0  Braund, Mr. Owen Harris
   2 â”‚        1  Cumings, Mrs. John Bradley (Florâ€¦
   3 â”‚        1  Heikkinen, Miss. Laina
   4 â”‚        1  Futrelle, Mrs. Jacques Heath (Liâ€¦
   5 â”‚        0  Allen, Mr. William Henry

In [5]:
# List of recorded sexes
levels(df[!,:Sex])

2-element Vector{String7}:
 "female"
 "male"

In [6]:
# Convert Survived column to boolean
df[!,:Survived] = convert.(Bool,df[!,:Survived])

# Convert Sex column to boolean
if columnindex(df,:Sex) != 0
    (df[!,:Sex] = df[!,:Sex] .== "male")
    rename!(df,:Sex => :Male)
end 
df.Embarked = categorical(df.Embarked)

first(df,5)

5Ã—12 DataFrame
 Row â”‚ PassengerId  Survived  Pclass  Name                               Male   Age       SibSp  Parch  Ticket            Fare     Cabin      Embarked
     â”‚ Int64        Bool      Int64   String                             Bool   Float64?  Int64  Int64  String31          Float64  String15?  Catâ€¦?
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚           1     false       3  Braund, Mr. Owen Harris             true      22.0      1      0  A/5 21171          7.25    missing    S
   2 â”‚           2      true       1  Cumings, Mrs. John Bradley (Florâ€¦  false      38.0      1      0  PC 17599          71.2833  C85        C
   3 â”‚           3      true       3  Heikkinen, Miss. Laina             false      26.0      0      0  STON/O2. 3101282   7.925   missing    S
   4 â”‚           4      true       1  Futrelle, Mrs. Jacques Heath (Liâ€¦  false      35.0      1      0  113803            53.1     C123       S
   5 â”‚           5     false       3  Allen, Mr. William Henry            true      35.0      0      0  373450             8.05    missing    S

In [7]:
first(df,5)

5Ã—12 DataFrame
 Row â”‚ PassengerId  Survived  Pclass  Name                               Male   Age       SibSp  Parch  Ticket            Fare     Cabin      Embarked
     â”‚ Int64        Bool      Int64   String                             Bool   Float64?  Int64  Int64  String31          Float64  String15?  Catâ€¦?
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚           1     false       3  Braund, Mr. Owen Harris             true      22.0      1      0  A/5 21171          7.25    missing    S
   2 â”‚           2      true       1  Cumings, Mrs. John Bradley (Florâ€¦  false      38.0      1      0  PC 17599          71.2833  C85        C
   3 â”‚           3      true       3  Heikkinen, Miss. Laina             false      26.0      0      0  STON/O2. 3101282   7.925   missing    S
   4 â”‚           4      true       1  Futrelle, Mrs. Jacques Heath (Liâ€¦  false      35.0      1      0  113803            53.1     C123       S
   5 â”‚           5     false       3  Allen, Mr. William Henry            true      35.0      0      0  373450             8.05    missing    S

### Missing value statistics

In [8]:
# Get missing stats
function show_missing(df)
    emptycols = count.(ismissing, eachcol(df))
    emptyperc = round.(emptycols ./ fill(size(df)...), digits = 3)
    sort(DataFrame(Column = names(df), Total = emptycols, Percent = emptyperc), :Total, rev = true)
end
show_missing(df)

12Ã—3 DataFrame
 Row â”‚ Column       Total  Percent
     â”‚ String       Int64  Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ Cabin          687    0.771
   2 â”‚ Age            177    0.199
   3 â”‚ Embarked         2    0.002
   4 â”‚ PassengerId      0    0.0
   5 â”‚ Survived         0    0.0
   6 â”‚ Pclass           0    0.0
   7 â”‚ Name             0    0.0
   8 â”‚ Male             0    0.0
   9 â”‚ SibSp            0    0.0
  10 â”‚ Parch            0    0.0
  11 â”‚ Ticket           0    0.0
  12 â”‚ Fare             0    0.0

In [9]:
# TODO is it useful??
colwise(ismissing,df)
# count.(ismissing, eachcol(df))

LoadError: UndefVarError: colwise not defined

## Check cabins' information quality

In [10]:
cabin = @pipe dropmissing(df[:,[:Survived,:Cabin]]) |> sort(_,rev=true)
show(cabin, allrows=true)
cabin.Cabin = getindex.(cabin[:,:Cabin],1)

204Ã—2 DataFrame
 Row â”‚ Survived  Cabin
     â”‚ Bool      String15
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     true  G6
   2 â”‚     true  G6
   3 â”‚     true  F4
   4 â”‚     true  F4
   5 â”‚     true  F33
   6 â”‚     true  F33
   7 â”‚     true  F33
   8 â”‚     true  F2
   9 â”‚     true  F2
  10 â”‚     true  F E69
  11 â”‚     true  E8
  12 â”‚     true  E8
  13 â”‚     true  E68
  14 â”‚     true  E67
  15 â”‚     true  E50
  16 â”‚     true  E49
  17 â”‚     true  E44
  18 â”‚     true  E40
  19 â”‚     true  E36
  20 â”‚     true  E34
  21 â”‚     true  E33
  22 â”‚     true  E33
  23 â”‚     true  E25
  24 â”‚     true  E25
  25 â”‚     true  E24
  26 â”‚     true  E24
  27 â”‚     true  E17
  28 â”‚     true  E121
  29 â”‚     true  E121
  30 â”‚     true  E12
  31 â”‚     true  E101
  32 â”‚     true  E101
  33 â”‚     true  E101
  34 â”‚     true  E10
  35 â”‚     true  D9
  36 â”‚     true  D7
  37 â”‚     true  D56
  38 â”‚     true  D49
  39 â”‚     true  D47
  40 â”‚     true  D45
  41 â”‚     true  D37
  42 â”‚     true  D36
  43 â”‚     true  D36
  44 â”‚     true  D35
  45 â”‚     true  D35
  46 â”‚     true  D33
  47 â”‚     true  D33
  48 â”‚     true  D28
  49 â”‚     true  D21
  50 â”‚     true  D20
  51 â”‚     true  D20
  52 â”‚     true  D19
  53 â”‚     true  D17
  54 â”‚     true  D17
  55 â”‚     true  D15
  56 â”‚     true  D11
  57 â”‚     true  D10 D12
  58 â”‚     true  D
  59 â”‚     true  D
  60 â”‚     true  C99
  61 â”‚     true  C93
  62 â”‚     true  C93
  63 â”‚     true  C92
  64 â”‚     true  C92
  65 â”‚     true  C90
  66 â”‚     true  C85
  67 â”‚     true  C83
  68 â”‚     true  C78
  69 â”‚     true  C70
  70 â”‚     true  C7
  71 â”‚     true  C68
  72 â”‚     true  C65
  73 â”‚     true  C62 C64
  74 â”‚     true  C54
  75 â”‚     true  C52
  76 â”‚     true  C52
  77 â”‚     true  C50
  78 â”‚     true  C47
  79 â”‚     true  C45
  80 â”‚     true  C32
  81 â”‚     true  C23 C25 C27
  82 â”‚     true  C23 C25 C27
  83 â”‚     true  C22 C26
  84 â”‚     true  C2
  85 â”‚     true  C148
  86 â”‚     true  C126
  87 â”‚     true  C126
  88 â”‚     true  C125
  89 â”‚     true  C125
  90 â”‚     true  C123
  91 â”‚     true  C106
  92 â”‚     true  C104
  93 â”‚     true  C103
  94 â”‚     true  C101
  95 â”‚     true  B96 B98
  96 â”‚     true  B96 B98
  97 â”‚     true  B96 B98
  98 â”‚     true  B96 B98
  99 â”‚     true  B80
 100 â”‚     true  B79
 101 â”‚     true  B78
 102 â”‚     true  B77
 103 â”‚     true  B77
 104 â”‚     true  B73
 105 â”‚     true  B69
 106 â”‚     true  B58 B60
 107 â”‚     true  B57 B59 B63 B66
 108 â”‚     true  B57 B59 B63 B66
 109 â”‚     true  B51 B53 B55
 110 â”‚     true  B50
 111 â”‚     true  B5
 112 â”‚     true  B5
 113 â”‚     true  B49
 114 â”‚     true  B49
 115 â”‚     true  B42
 116 â”‚     true  B41
 117 â”‚     true  B4
 118 â”‚     true  B39
 119 â”‚     true  B35
 120 â”‚     true  B35
 121 â”‚     true  B3
 122 â”‚     true  B28
 123 â”‚     true  B28
 124 â”‚     true  B22
 125 â”‚     true  B20
 126 â”‚     true  B20
 127 â”‚     true  B18
 128 â”‚     true  B18
 129 â”‚     true  B101
 130 â”‚     true  A6
 131 â”‚     true  A34
 132 â”‚     true  A31
 133 â”‚     true  A26
 134 â”‚     true  A23
 135 â”‚     true  A20
 136 â”‚     true  A16
 137 â”‚    false  T
 138 â”‚    false  G6
 139 â”‚    false  G6
 140 â”‚    false  F38
 141 â”‚    false  F2
 142 â”‚    false  F G73
 143 â”‚    false  F G73
 144 â”‚    false  F G63
 145 â”‚    false  E77
 146 â”‚    false  E67
 147 â”‚    false  E63
 148 â”‚    false  E58
 149 â”‚    false  E46
 150 â”‚    false  E44
 151 â”‚    false  E38
 152 â”‚    false  E31
 153 â”‚    false  D6
 154 â”‚    false  D50
 155 â”‚    false  D48
 156 â”‚    false  D46
 157 â”‚    false  D30
 158 â”‚    false  D26
 159 â”‚    false  D26
 160 â”‚    false  D
 161 â”‚    false  C95
 162 â”‚    false  C91
 163 â”‚    false  C87
 164 â”‚    false  C86
 165 â”‚    false  C83
 166 â”‚    false  C82
 167 â”‚    false  C78
 168 â”‚    false  C68
 169 â”‚    false  C65
 170 â”‚    false  C49
 171 â”‚    false  C46
 172 â”‚    false  C30
 173 â”‚    false  C23 C25 C27
 174 â”‚    false  C23 C25 C27
 175 â”‚    false  C22 C26
 176 â”‚    false  C22 C26
 177 â”‚    false  C2
 178 â”‚    false  C128
 179 â”‚    false  C124
 180 â”‚    false  C124
 181 â”‚    false  C123
 182 â”‚    false  C118
 183 â”‚    false  C111
 184 â”‚    false  C110
 185 â”‚    false  B94
 186 â”‚    false  B86
 187 â”‚    false  B82 B84
 188 â”‚    false  B71
 189 â”‚    false  B58 B60
 190 â”‚    false  B51 B53 B55
 191 â”‚    false  B38
 192 â”‚    false  B37
 193 â”‚    false  B30
 194 â”‚    false  B22
 195 â”‚    false  B19
 196 â”‚    false  B102
 197 â”‚    false  A7
 198 â”‚    false  A5
 199 â”‚    false  A36
 200 â”‚    false  A32
 201 â”‚    false  A24
 202 â”‚    false  A19
 203 â”‚    false  A14
 204 â”‚    false  A10

204-element Vector{Char}:
 'G': ASCII/Unicode U+0047 (category Lu: Letter, uppercase)
 'G': ASCII/Unicode U+0047 (category Lu: Letter, uppercase)
 'F': ASCII/Unicode U+0046 (category Lu: Letter, uppercase)
 'F': ASCII/Unicode U+0046 (category Lu: Letter, uppercase)
 'F': ASCII/Unicode U+0046 (category Lu: Letter, uppercase)
 'F': ASCII/Unicode U+0046 (category Lu: Letter, uppercase)
 'F': ASCII/Unicode U+0046 (category Lu: Letter, uppercase)
 'F': ASCII/Unicode U+0046 (category Lu: Letter, uppercase)
 'F': ASCII/Unicode U+0046 (category Lu: Letter, uppercase)
 'F': ASCII/Unicode U+0046 (category Lu: Letter, uppercase)
 'E': ASCII/Unicode U+0045 (category Lu: Letter, uppercase)
 'E': ASCII/Unicode U+0045 (category Lu: Letter, uppercase)
 'E': ASCII/Unicode U+0045 (category Lu: Letter, uppercase)
 â‹®
 'B': ASCII/Unicode U+0042 (category Lu: Letter, uppercase)
 'B': ASCII/Unicode U+0042 (category Lu: Letter, uppercase)
 'B': ASCII/Unicode U+0042 (category Lu: Letter, uppercase)
 'B': ASCII/Unicode U+0042 (category Lu: Letter, uppercase)
 'A': ASCII/Unicode U+0041 (category Lu: Letter, uppercase)
 'A': ASCII/Unicode U+0041 (category Lu: Letter, uppercase)
 'A': ASCII/Unicode U+0041 (category Lu: Letter, uppercase)
 'A': ASCII/Unicode U+0041 (category Lu: Letter, uppercase)
 'A': ASCII/Unicode U+0041 (category Lu: Letter, uppercase)
 'A': ASCII/Unicode U+0041 (category Lu: Letter, uppercase)
 'A': ASCII/Unicode U+0041 (category Lu: Letter, uppercase)
 'A': ASCII/Unicode U+0041 (category Lu: Letter, uppercase)

In [11]:
@pipe groupby(cabin, :Cabin) |>
      combine(_,
          :Survived => sum => :Survived,
          :Survived => (s -> count(s .== false)) => :Died,
          nrow,
          :Survived => (s -> round(sum(s) / count(s .== false), digits = 2)) => :Ratio
      ) |> sort(_, :Ratio, rev = true)

8Ã—5 DataFrame
 Row â”‚ Cabin  Survived  Died   nrow   Ratio
     â”‚ Char   Int64     Int64  Int64  Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ D            25      8     33     3.12
   2 â”‚ E            24      8     32     3.0
   3 â”‚ B            35     12     47     2.92
   4 â”‚ F             8      5     13     1.6
   5 â”‚ C            35     24     59     1.46
   6 â”‚ G             2      2      4     1.0
   7 â”‚ A             7      8     15     0.88
   8 â”‚ T             0      1      1     0.0

### Preping data for first exploratory model

In [12]:
df.FamilySize = df.SibSp .+ df.Parch
family_df = df[:, Not([:SibSp,:Parch])]
first(family_df)

DataFrameRow
 Row â”‚ PassengerId  Survived  Pclass  Name                     Male  Age       Ticket     Fare     Cabin      Embarked  FamilySize
     â”‚ Int64        Bool      Int64   String                   Bool  Float64?  String31   Float64  String15?  Catâ€¦?     Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚           1     false       3  Braund, Mr. Owen Harris  true      22.0  A/5 21171     7.25  missing    S                  1

In [91]:
sub_df = df[:, Not([:SibSp,:Parch,:Name,:Ticket,:Cabin,:PassengerId])]
if columnindex(df,:Age) != 0
    sub_df.Age = coalesce.(sub_df.Age, 99.5)
end 
first(sub_df,5)

5Ã—7 DataFrame
 Row â”‚ Survived  Pclass  Male   Age      Fare     Embarked  FamilySize
     â”‚ Bool      Int64   Bool   Float64  Float64  Catâ€¦?     Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚    false       3   true     22.0   7.25    S                  1
   2 â”‚     true       1  false     38.0  71.2833  C                  1
   3 â”‚     true       3  false     26.0   7.925   S                  0
   4 â”‚     true       1  false     35.0  53.1     S                  1
   5 â”‚    false       3   true     35.0   8.05    S                  0

In [14]:
dropmissing!(sub_df)
show_missing(sub_df)

7Ã—3 DataFrame
 Row â”‚ Column      Total  Percent
     â”‚ String      Int64  Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ Survived        0      0.0
   2 â”‚ Pclass          0      0.0
   3 â”‚ Male            0      0.0
   4 â”‚ Age             0      0.0
   5 â”‚ Fare            0      0.0
   6 â”‚ Embarked        0      0.0
   7 â”‚ FamilySize      0      0.0

### Rudimental Regression

In [34]:
using GLM
using StatsModels

In [64]:
using Lathe.preprocess: TrainTestSplit
train, test = TrainTestSplit(sub_df, .75);

In [65]:
# model = lm(@formula(Survived ~ Pclass + Male + Age + Fare + Embarked + FamilySize),sub_df)
# fit(LinearModel, @formula(Survived ~ Pclass + Male + Age + Fare + Embarked + FamilySize),sub_df)
logit = glm(@formula(Survived ~ Pclass + Male + Age + Fare + Embarked ), train, Binomial(), LogitLink())

StatsModels.TableRegressionModel{GeneralizedLinearModel{GLM.GlmResp{Vector{Float64}, Binomial{Float64}, LogitLink}, GLM.DensePredChol{Float64, Cholesky{Float64, Matrix{Float64}}}}, Matrix{Float64}}

Survived ~ 1 + Pclass + Male + Age + Fare + Embarked

Coefficients:
â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
                    Coef.  Std. Error       z  Pr(>|z|)   Lower 95%    Upper 95%
â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
(Intercept)   4.18229      0.5308        7.88    <1e-14   3.14195     5.22264
Pclass       -0.948593     0.147109     -6.45    <1e-09  -1.23692    -0.660264
Male         -2.53035      0.212685    -11.90    <1e-31  -2.9472     -2.11349
Age          -0.0109766    0.00366206   -3.00    0.0027  -0.0181541  -0.00379908
Fare          0.000452993  0.00233208    0.19    0.8460  -0.0041178   0.00502379
Embarked: Q   0.408517     0.429413      0.95    0.3414  -0.433117    1.25015
Embarked: S  -0.727231     0.271504     -2.68    0.0074  -1.25937    -0.195093
â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

In [66]:
predict(logit,test)

223-element Vector{Union{Missing, Float64}}:
 0.10346871774204507
 0.867824072822779
 0.09256337439464964
 0.6066453533232123
 0.6034495004831595
 0.7663714744994469
 0.04699462736878972
 0.10451469516059732
 0.504487937743508
 0.40702950573168656
 0.09286901249401301
 0.776313758741114
 0.10660269140124018
 â‹®
  missing
 0.04699462736878972
 0.10555182386561965
 0.10873374168832396
 0.12446592654600636
 0.061237155482882714
 0.7763691531764296
 0.047024053434343085
 0.09949236965722393
 0.40520135505905536
 0.9344216592620453
 0.09281704730030903

In [67]:
train, test = TrainTestSplit(sub_df, .75);
mm = glm(@formula(Survived ~ Pclass    + Fare ), train, Binomial(), LogitLink());
mmage = glm(@formula(Survived ~ Pclass + Age  + Fare ), train, Binomial(), LogitLink());

pred = predict(model,test);

In [68]:
first(train,5)

5Ã—7 DataFrame
 Row â”‚ Survived  Pclass  Male   Age      Fare     Embarked  FamilySize
     â”‚ Bool      Int64   Bool   Float64  Float64  Catâ€¦?     Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚    false       3   true     22.0   7.25    S                  1
   2 â”‚     true       1  false     38.0  71.2833  C                  1
   3 â”‚     true       3  false     26.0   7.925   S                  0
   4 â”‚     true       1  false     35.0  53.1     S                  1
   5 â”‚    false       3   true     99.5   8.4583  Q                  0

In [69]:
a = DataFrame(Ref=test[:,:Survived],Pred= round.(pred))
all = nrow(a)
good = count(a.Ref .== a.Pred)
good/all

0.6837209302325581

# DEBUG

In [47]:
using Tables
using StatsModels:missing_omit,modelcols
data = test
f1 = mm.mf.f 

f1.rhs

1Pclass(continuous)Fare(continuous)

In [56]:
cols1, _ = missing_omit(columntable(data), f1.rhs)
new_x = modelcols(f1.rhs, cols1)
x1 = reshape(new_x, size(new_x, 1), :)
show(x1)

[1.0 3.0 21.075; 1.0 2.0 30.0708; 1.0 3.0 31.275; 1.0 3.0 7.8542; 1.0 2.0 13.0; 1.0 2.0 26.0; 1.0 3.0 8.0292; 1.0 1.0 263.0; 1.0 3.0 7.8958; 1.0 3.0 7.75; 1.0 1.0 52.0; 1.0 3.0 7.2292; 1.0 3.0 8.05; 1.0 2.0 21.0; 1.0 3.0 7.75; 1.0 3.0 17.8; 1.0 2.0 26.0; 1.0 1.0 61.9792; 1.0 2.0 10.5; 1.0 2.0 27.75; 1.0 3.0 27.9; 1.0 3.0 7.925; 1.0 3.0 8.05; 1.0 2.0 29.0; 1.0 3.0 12.475; 1.0 3.0 9.0; 1.0 1.0 47.1; 1.0 2.0 10.5; 1.0 3.0 34.375; 1.0 3.0 20.575; 1.0 3.0 8.05; 1.0 1.0 34.6542; 1.0 3.0 7.925; 1.0 3.0 7.775; 1.0 3.0 14.4583; 1.0 3.0 7.75; 1.0 2.0 21.0; 1.0 3.0 31.275; 1.0 1.0 77.2875; 1.0 3.0 7.75; 1.0 3.0 7.05; 1.0 3.0 14.5; 1.0 2.0 15.0458; 1.0 3.0 9.2167; 1.0 2.0 36.75; 1.0 2.0 12.525; 1.0 3.0 8.05; 1.0 3.0 7.3125; 1.0 3.0 8.6625; 1.0 1.0 33.5; 1.0 3.0 7.8542; 1.0 2.0 13.0; 1.0 3.0 69.55; 1.0 3.0 22.025; 1.0 2.0 13.0; 1.0 1.0 146.5208; 1.0 3.0 7.75; 1.0 3.0 7.75; 1.0 3.0 7.225; 1.0 3.0 7.05; 1.0 3.0 7.25; 1.0 3.0 7.75; 1.0 1.0 76.2917; 1.0 2.0 13.0; 1.0 3.0 8.05; 1.0 1.0 90.0; 1.0 3.0 9.35; 1.0 2.0 10.5; 1.0 3.0 7.25; 1.0 2.0 10.5; 1.0 3.0 7.55; 1.0 2.0 26.0; 1.0 2.0 10.5; 1.0 1.0 90.0; 1.0 3.0 7.25; 1.0 3.0 16.1; 1.0 3.0 20.2125; 1.0 3.0 15.2458; 1.0 3.0 7.75; 1.0 1.0 79.65; 1.0 3.0 39.6875; 1.0 1.0 153.4625; 1.0 1.0 135.6333; 1.0 1.0 77.9583; 1.0 3.0 7.75; 1.0 1.0 78.85; 1.0 3.0 7.2292; 1.0 1.0 30.5; 1.0 1.0 247.5208; 1.0 3.0 7.75; 1.0 2.0 12.35; 1.0 1.0 110.8833; 1.0 1.0 108.9; 1.0 1.0 83.1583; 1.0 3.0 7.8542; 1.0 2.0 14.0; 1.0 3.0 7.25; 1.0 3.0 7.8958; 1.0 2.0 12.35; 1.0 2.0 29.0; 1.0 1.0 135.6333; 1.0 1.0 57.9792; 1.0 1.0 28.5; 1.0 1.0 153.4625; 1.0 1.0 134.5; 1.0 1.0 35.5; 1.0 2.0 26.0; 1.0 1.0 263.0; 1.0 3.0 16.1; 1.0 3.0 9.225; 1.0 3.0 7.2292; 1.0 3.0 7.8792; 1.0 3.0 7.2292; 1.0 1.0 55.4417; 1.0 3.0 8.05; 1.0 3.0 7.25; 1.0 3.0 4.0125; 1.0 3.0 7.775; 1.0 3.0 7.8958; 1.0 3.0 7.7292; 1.0 2.0 12.0; 1.0 1.0 113.275; 1.0 3.0 7.925; 1.0 3.0 7.775; 1.0 3.0 25.4667; 1.0 3.0 8.05; 1.0 3.0 24.15; 1.0 3.0 7.8958; 1.0 3.0 34.375; 1.0 2.0 13.0; 1.0 1.0 81.8583; 1.0 3.0 7.05; 1.0 2.0 0.0; 1.0 1.0 26.55; 1.0 3.0 19.2583; 1.0 2.0 21.0; 1.0 3.0 7.5208; 1.0 3.0 9.5875; 1.0 3.0 7.25; 1.0 3.0 8.05; 1.0 3.0 14.4583; 1.0 3.0 15.1; 1.0 3.0 7.75; 1.0 3.0 9.5875; 1.0 2.0 26.0; 1.0 1.0 26.55; 1.0 3.0 22.525; 1.0 2.0 10.5; 1.0 2.0 26.0; 1.0 3.0 7.225; 1.0 2.0 10.5; 1.0 2.0 26.0; 1.0 3.0 7.2292; 1.0 3.0 22.3583; 1.0 3.0 8.6625; 1.0 2.0 26.0; 1.0 2.0 36.75; 1.0 1.0 39.6; 1.0 3.0 7.8958; 1.0 2.0 13.5; 1.0 2.0 10.5; 1.0 3.0 7.75; 1.0 1.0 55.9; 1.0 2.0 30.0; 1.0 3.0 8.05; 1.0 3.0 0.0; 1.0 3.0 7.225; 1.0 1.0 42.4; 1.0 3.0 7.8958; 1.0 3.0 31.275; 1.0 3.0 15.5; 1.0 3.0 14.4; 1.0 3.0 16.1; 1.0 3.0 16.1; 1.0 3.0 7.8958; 1.0 1.0 30.0; 1.0 3.0 27.9; 1.0 2.0 13.0; 1.0 3.0 16.1; 1.0 3.0 27.9; 1.0 3.0 7.55; 1.0 2.0 23.0; 1.0 3.0 8.4333; 1.0 3.0 8.05; 1.0 1.0 52.0; 1.0 2.0 13.0; 1.0 3.0 7.775; 1.0 3.0 8.05; 1.0 3.0 7.7958; 1.0 1.0 57.0; 1.0 1.0 26.55; 1.0 3.0 7.65; 1.0 1.0 26.2875; 1.0 1.0 151.55; 1.0 1.0 26.55; 1.0 2.0 10.5; 1.0 3.0 8.6625; 1.0 3.0 7.7375; 1.0 2.0 0.0; 1.0 2.0 13.0; 1.0 3.0 16.1; 1.0 3.0 34.375; 1.0 1.0 512.3292; 1.0 3.0 7.8958; 1.0 3.0 7.925; 1.0 3.0 20.25; 1.0 2.0 13.0; 1.0 3.0 7.8958; 1.0 2.0 65.0; 1.0 3.0 7.7958; 1.0 3.0 7.125; 1.0 1.0 77.9583; 1.0 1.0 39.6; 1.0 3.0 24.15; 1.0 3.0 9.5; 1.0 3.0 7.75; 1.0 3.0 12.475; 1.0 3.0 7.25; 1.0 2.0 13.0; 1.0 3.0 8.6833; 1.0 2.0 26.25; 1.0 3.0 8.5167; 1.0 3.0 6.975; 1.0 3.0 7.775; 1.0 2.0 13.0; 1.0 1.0 53.1; 1.0 3.0 7.8875; 1.0 3.0 31.275; 1.0 3.0 8.05; 1.0 3.0 7.925; 1.0 3.0 6.45; 1.0 1.0 93.5; 1.0 3.0 12.475; 1.0 3.0 7.75; 1.0 2.0 18.75; 1.0 3.0 7.8542; 1.0 3.0 56.4958; 1.0 2.0 10.5; 1.0 1.0 31.0; 1.0 3.0 8.6625; 1.0 3.0 15.2458; 1.0 3.0 9.35; 1.0 3.0 69.55; 1.0 1.0 50.4958; 1.0 3.0 9.5; 1.0 3.0 11.1333; 1.0 3.0 7.8958; 1.0 3.0 9.0; 1.0 3.0 9.8458; 1.0 3.0 29.125; 1.0 1.0 30.0]

In [57]:
f2 = mmage.mf.f 
cols2, _ = StatsModels.missing_omit(columntable(data), f2.rhs)
new_x = modelcols(f2.rhs, cols2)
x2 = reshape(new_x, size(new_x, 1), :)
show(x2)

Real[1.0 3 2.0 21.075; 1.0 2 14.0 30.0708; 1.0 3 39.0 31.275; 1.0 3 14.0 7.8542; 1.0 2 100 13.0; 1.0 2 35.0 26.0; 1.0 3 15.0 8.0292; 1.0 1 19.0 263.0; 1.0 3 100 7.8958; 1.0 3 100 7.75; 1.0 1 42.0 52.0; 1.0 3 100 7.2292; 1.0 3 21.0 8.05; 1.0 2 27.0 21.0; 1.0 3 100 7.75; 1.0 3 18.0 17.8; 1.0 2 29.0 26.0; 1.0 1 65.0 61.9792; 1.0 2 21.0 10.5; 1.0 2 5.0 27.75; 1.0 3 4.0 27.9; 1.0 3 17.0 7.925; 1.0 3 100 8.05; 1.0 2 0.83 29.0; 1.0 3 30.0 12.475; 1.0 3 22.0 9.0; 1.0 1 28.0 47.1; 1.0 2 17.0 10.5; 1.0 3 16.0 34.375; 1.0 3 26.0 20.575; 1.0 3 100 8.05; 1.0 1 71.0 34.6542; 1.0 3 37.0 7.925; 1.0 3 100 7.775; 1.0 3 17.0 14.4583; 1.0 3 70.5 7.75; 1.0 2 29.0 21.0; 1.0 3 2.0 31.275; 1.0 1 54.0 77.2875; 1.0 3 100 7.75; 1.0 3 20.0 7.05; 1.0 3 47.0 14.5; 1.0 2 23.0 15.0458; 1.0 3 16.0 9.2167; 1.0 2 19.0 36.75; 1.0 2 51.0 12.525; 1.0 3 55.5 8.05; 1.0 3 100 7.3125; 1.0 3 100 8.6625; 1.0 1 61.0 33.5; 1.0 3 18.0 7.8542; 1.0 2 30.0 13.0; 1.0 3 100 69.55; 1.0 3 4.0 22.025; 1.0 2 19.0 13.0; 1.0 1 58.0 146.5208; 1.0 3 100 7.75; 1.0 3 100 7.75; 1.0 3 45.5 7.225; 1.0 3 24.0 7.05; 1.0 3 22.0 7.25; 1.0 3 100 7.75; 1.0 1 32.0 76.2917; 1.0 2 27.0 13.0; 1.0 3 51.0 8.05; 1.0 1 38.0 90.0; 1.0 3 22.0 9.35; 1.0 2 19.0 10.5; 1.0 3 20.5 7.25; 1.0 2 24.0 10.5; 1.0 3 100 7.55; 1.0 2 44.0 26.0; 1.0 2 29.0 10.5; 1.0 1 44.0 90.0; 1.0 3 100 7.25; 1.0 3 30.0 16.1; 1.0 3 41.0 20.2125; 1.0 3 29.0 15.2458; 1.0 3 100 7.75; 1.0 1 52.0 79.65; 1.0 3 16.0 39.6875; 1.0 1 58.0 153.4625; 1.0 1 35.0 135.6333; 1.0 1 63.0 77.9583; 1.0 3 65.0 7.75; 1.0 1 26.0 78.85; 1.0 3 23.5 7.2292; 1.0 1 100 30.5; 1.0 1 50.0 247.5208; 1.0 3 100 7.75; 1.0 2 100 12.35; 1.0 1 100 110.8833; 1.0 1 17.0 108.9; 1.0 1 24.0 83.1583; 1.0 3 26.0 7.8542; 1.0 2 54.0 14.0; 1.0 3 22.0 7.25; 1.0 3 27.0 7.8958; 1.0 2 30.0 12.35; 1.0 2 22.0 29.0; 1.0 1 36.0 135.6333; 1.0 1 16.0 57.9792; 1.0 1 45.5 28.5; 1.0 1 38.0 153.4625; 1.0 1 41.0 134.5; 1.0 1 45.0 35.5; 1.0 2 2.0 26.0; 1.0 1 24.0 263.0; 1.0 3 100 16.1; 1.0 3 23.0 9.225; 1.0 3 15.0 7.2292; 1.0 3 100 7.8792; 1.0 3 100 7.2292; 1.0 1 25.0 55.4417; 1.0 3 19.0 8.05; 1.0 3 22.0 7.25; 1.0 3 20.0 4.0125; 1.0 3 19.0 7.775; 1.0 3 100 7.8958; 1.0 3 100 7.7292; 1.0 2 17.0 12.0; 1.0 1 23.0 113.275; 1.0 3 39.0 7.925; 1.0 3 21.0 7.775; 1.0 3 100 25.4667; 1.0 3 100 8.05; 1.0 3 10.0 24.15; 1.0 3 100 7.8958; 1.0 3 21.0 34.375; 1.0 2 28.0 13.0; 1.0 1 4.0 81.8583; 1.0 3 38.0 7.05; 1.0 2 100 0.0; 1.0 1 56.0 26.55; 1.0 3 0.75 19.2583; 1.0 2 34.0 21.0; 1.0 3 22.0 7.5208; 1.0 3 63.0 9.5875; 1.0 3 21.0 7.25; 1.0 3 21.0 8.05; 1.0 3 100 14.4583; 1.0 3 100 15.1; 1.0 3 21.0 7.75; 1.0 3 37.0 9.5875; 1.0 2 33.0 26.0; 1.0 1 100 26.55; 1.0 3 28.0 22.525; 1.0 2 34.0 10.5; 1.0 2 36.0 26.0; 1.0 3 100 7.225; 1.0 2 50.0 10.5; 1.0 2 2.0 26.0; 1.0 3 100 7.2292; 1.0 3 100 22.3583; 1.0 3 30.0 8.6625; 1.0 2 19.0 26.0; 1.0 2 8.0 36.75; 1.0 1 48.0 39.6; 1.0 3 40.0 7.8958; 1.0 2 28.0 13.5; 1.0 2 62.0 10.5; 1.0 3 100 7.75; 1.0 1 39.0 55.9; 1.0 2 25.0 30.0; 1.0 3 100 8.05; 1.0 3 49.0 0.0; 1.0 3 100 7.225; 1.0 1 100 42.4; 1.0 3 30.0 7.8958; 1.0 3 39.0 31.275; 1.0 3 100 15.5; 1.0 3 34.0 14.4; 1.0 3 26.0 16.1; 1.0 3 21.0 16.1; 1.0 3 26.0 7.8958; 1.0 1 80.0 30.0; 1.0 3 9.0 27.9; 1.0 2 28.0 13.0; 1.0 3 100 16.1; 1.0 3 2.0 27.9; 1.0 3 100 7.55; 1.0 2 18.0 23.0; 1.0 3 21.0 8.4333; 1.0 3 43.0 8.05; 1.0 1 100 52.0; 1.0 2 31.0 13.0; 1.0 3 18.0 7.775; 1.0 3 24.5 8.05; 1.0 3 18.0 7.7958; 1.0 1 31.0 57.0; 1.0 1 60.0 26.55; 1.0 3 42.0 7.65; 1.0 1 35.0 26.2875; 1.0 1 22.0 151.55; 1.0 1 100 26.55; 1.0 2 27.0 10.5; 1.0 3 20.0 8.6625; 1.0 3 100 7.7375; 1.0 2 100 0.0; 1.0 2 23.0 13.0; 1.0 3 28.5 16.1; 1.0 3 48.0 34.375; 1.0 1 35.0 512.3292; 1.0 3 100 7.8958; 1.0 3 31.0 7.925; 1.0 3 16.0 20.25; 1.0 2 30.0 13.0; 1.0 3 23.0 7.8958; 1.0 2 48.0 65.0; 1.0 3 28.0 7.7958; 1.0 3 41.0 7.125; 1.0 1 51.0 77.9583; 1.0 1 100 39.6; 1.0 3 100 24.15; 1.0 3 24.0 9.5; 1.0 3 100 7.75; 1.0 3 5.0 12.475; 1.0 3 25.0 7.25; 1.0 2 39.0 13.0; 1.0 3 31.0 8.6833; 1.0 2 31.0 26.25; 1.0 3 0.42 8.5167; 1.0 3 27.0 6.975; 1.0 3 31.0 7.775; 1.0 2 39.0 13.0; 1.0 1 33.0 53.1; 1.0 3 26.0 7.8875; 1.0 3 6.0 31.275; 1.0 3 30.5 8.05; 1.0 3 23.0 7.925; 1.0 3 43.0 6.45; 1.0 1 52.0 93.5; 1.0 3 27.0 12.475; 1.0 3 100 7.75; 1.0 2 0.83 18.75; 1.0 3 23.0 7.8542; 1.0 3 32.0 56.4958; 1.0 2 16.0 10.5; 1.0 1 30.0 31.0; 1.0 3 17.0 8.6625; 1.0 3 9.0 15.2458; 1.0 3 18.0 9.35; 1.0 3 100 69.55; 1.0 1 31.0 50.4958; 1.0 3 100 9.5; 1.0 3 4.0 11.1333; 1.0 3 26.0 7.8958; 1.0 3 47.0 9.0; 1.0 3 20.0 9.8458; 1.0 3 39.0 29.125; 1.0 1 26.0 30.0]

In [81]:
typeof(sub_df.Age)

Vector{Real} (alias for Array{Real, 1})

In [82]:
sub_df.Age::Vector{Float64} = coalesce.(sub_df.Age, 100)

LoadError: TypeError: in typeassert, expected Vector{Float64}, got a value of type Vector{Real}