In [150]:
using DataFrames
using CSV
ENV["COLUMNS"] = 1000
using CategoricalArrays


using Pipe: @pipe
using Setfield

## Initial steps

In [38]:
df = CSV.File("data/train.csv") |> DataFrame

891×12 DataFrame
 Row │ PassengerId  Survived  Pclass  Name                               Sex      Age        SibSp  Parch  Ticket            Fare     Cabin      Embarked
     │ Int64        Int64     Int64   String                             String7  Float64?   Int64  Int64  String31          Float64  String15?  String1?
─────┼────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │           1         0       3  Braund, Mr. Owen Harris            male          22.0      1      0  A/5 21171          7.25    missing    S
   2 │           2         1       1  Cumings, Mrs. John Bradley (Flor…  female        38.0      1      0  PC 17599          71.2833  C85        C
   3 │           3         1       3  Heikkinen, Miss. Laina             female        26.0      0      0  STON/O2. 3101282   7.925   missing    S
   4 │           4         1       1  Futrelle, Mrs. Jacques Heath (Li…  female        35.0      1      0  113803            53.1     C123       S
   5 │           5         0       3  Allen, Mr. William Henry           male          35.0      0      0  373450             8.05    missing    S
   6 │           6         0       3  Moran, Mr. James                   male     missing        0      0  330877             8.4583  missing    Q
   7 │           7         0       1  McCarthy, Mr. Timothy J            male          54.0      0      0  17463             51.8625  E46        S
   8 │           8         0       3  Palsson, Master. Gosta Leonard     male           2.0      3      1  349909            21.075   missing    S
   9 │           9         1       3  Johnson, Mrs. Oscar W (Elisabeth…  female        27.0      0      2  347742            11.1333  missing    S
  10 │          10         1       2  Nasser, Mrs. Nicholas (Adele Ach…  female        14.0      1      0  237736            30.0708  missing    C
  11 │          11         1       3  Sandstrom, Miss. Marguerite Rut    female         4.0      1      1  PP 9549           16.7     G6         S
  ⋮  │      ⋮          ⋮        ⋮                     ⋮                     ⋮         ⋮        ⋮      ⋮           ⋮             ⋮         ⋮         ⋮
 882 │         882         0       3  Markun, Mr. Johann                 male          33.0      0      0  349257             7.8958  missing    S
 883 │         883         0       3  Dahlberg, Miss. Gerda Ulrika       female        22.0      0      0  7552              10.5167  missing    S
 884 │         884         0       2  Banfield, Mr. Frederick James      male          28.0      0      0  C.A./SOTON 34068  10.5     missing    S
 885 │         885         0       3  Sutehall, Mr. Henry Jr             male          25.0      0      0  SOTON/OQ 392076    7.05    missing    S
 886 │         886         0       3  Rice, Mrs. William (Margaret Nor…  female        39.0      0      5  382652            29.125   missing    Q
 887 │         887         0       2  Montvila, Rev. Juozas              male          27.0      0      0  211536            13.0     missing    S
 888 │         888         1       1  Graham, Miss. Margaret Edith       female        19.0      0      0  112053            30.0     B42        S
 889 │         889         0       3  Johnston, Miss. Catherine Helen …  female   missing        1      2  W./C. 6607        23.45    missing    S
 890 │         890         1       1  Behr, Mr. Karl Howell              male          26.0      0      0  111369            30.0     C148       C
 891 │         891         0       3  Dooley, Mr. Patrick                male          32.0      0      0  370376             7.75    missing    Q
                                                                                                                                          870 rows omitted

In [22]:
names(df) |> show
describe(df)

["PassengerId", "Survived", "Pclass", "Name", "Sex", "Age", "SibSp", "Parch", "Ticket", "Fare", "Cabin", "Embarked"]

12×7 DataFrame
 Row │ variable     mean      min                  median   max                          nmissing  eltype
     │ Symbol       Union…    Any                  Union…   Any                          Int64     Type
─────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │ PassengerId  446.0     1                    446.0    891                                 0  Int64
   2 │ Survived     0.383838  0                    0.0      1                                   0  Int64
   3 │ Pclass       2.30864   1                    3.0      3                                   0  Int64
   4 │ Name                   Abbing, Mr. Anthony           van Melkebeke, Mr. Philemon         0  String
   5 │ Sex                    female                        male                                0  String7
   6 │ Age          29.6991   0.42                 28.0     80.0                              177  Union{Missing, Float64}
   7 │ SibSp        0.523008  0                    0.0      8                                   0  Int64
   8 │ Parch        0.381594  0                    0.0      6                                   0  Int64
   9 │ Ticket                 110152                        WE/P 5735                           0  String31
  10 │ Fare         32.2042   0.0                  14.4542  512.329                             0  Float64
  11 │ Cabin                  A10                           T                                 687  Union{Missing, String15}
  12 │ Embarked               C                             S                                   2  Union{Missing, String1}

In [23]:
df[1:5,[:Survived,:Name]]

5×2 DataFrame
 Row │ Survived  Name
     │ Int64     String
─────┼─────────────────────────────────────────────
   1 │        0  Braund, Mr. Owen Harris
   2 │        1  Cumings, Mrs. John Bradley (Flor…
   3 │        1  Heikkinen, Miss. Laina
   4 │        1  Futrelle, Mrs. Jacques Heath (Li…
   5 │        0  Allen, Mr. William Henry

In [43]:
# List of recorded sexes
levels(df[!,:Sex])

2-element Vector{Bool}:
 0
 1

In [42]:
# Convert Survived column to boolean
df[!,:Survived] = convert.(Bool,df[!,:Survived])

# Convert Sex column to boolean
eltype(df[!,:Sex]) != Bool && (df[!,:Sex] = df[!,:Sex] .== "male")

df.Embarked = categorical(df.Embarked)

df

891×12 DataFrame
 Row │ PassengerId  Survived  Pclass  Name                               Sex    Age        SibSp  Parch  Ticket            Fare     Cabin      Embarked
     │ Int64        Bool      Int64   String                             Bool   Float64?   Int64  Int64  String31          Float64  String15?  String1?
─────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │           1     false       3  Braund, Mr. Owen Harris             true       22.0      1      0  A/5 21171          7.25    missing    S
   2 │           2      true       1  Cumings, Mrs. John Bradley (Flor…  false       38.0      1      0  PC 17599          71.2833  C85        C
   3 │           3      true       3  Heikkinen, Miss. Laina             false       26.0      0      0  STON/O2. 3101282   7.925   missing    S
   4 │           4      true       1  Futrelle, Mrs. Jacques Heath (Li…  false       35.0      1      0  113803            53.1     C123       S
   5 │           5     false       3  Allen, Mr. William Henry            true       35.0      0      0  373450             8.05    missing    S
   6 │           6     false       3  Moran, Mr. James                    true  missing        0      0  330877             8.4583  missing    Q
   7 │           7     false       1  McCarthy, Mr. Timothy J             true       54.0      0      0  17463             51.8625  E46        S
   8 │           8     false       3  Palsson, Master. Gosta Leonard      true        2.0      3      1  349909            21.075   missing    S
   9 │           9      true       3  Johnson, Mrs. Oscar W (Elisabeth…  false       27.0      0      2  347742            11.1333  missing    S
  10 │          10      true       2  Nasser, Mrs. Nicholas (Adele Ach…  false       14.0      1      0  237736            30.0708  missing    C
  11 │          11      true       3  Sandstrom, Miss. Marguerite Rut    false        4.0      1      1  PP 9549           16.7     G6         S
  ⋮  │      ⋮          ⋮        ⋮                     ⋮                    ⋮        ⋮        ⋮      ⋮           ⋮             ⋮         ⋮         ⋮
 882 │         882     false       3  Markun, Mr. Johann                  true       33.0      0      0  349257             7.8958  missing    S
 883 │         883     false       3  Dahlberg, Miss. Gerda Ulrika       false       22.0      0      0  7552              10.5167  missing    S
 884 │         884     false       2  Banfield, Mr. Frederick James       true       28.0      0      0  C.A./SOTON 34068  10.5     missing    S
 885 │         885     false       3  Sutehall, Mr. Henry Jr              true       25.0      0      0  SOTON/OQ 392076    7.05    missing    S
 886 │         886     false       3  Rice, Mrs. William (Margaret Nor…  false       39.0      0      5  382652            29.125   missing    Q
 887 │         887     false       2  Montvila, Rev. Juozas               true       27.0      0      0  211536            13.0     missing    S
 888 │         888      true       1  Graham, Miss. Margaret Edith       false       19.0      0      0  112053            30.0     B42        S
 889 │         889     false       3  Johnston, Miss. Catherine Helen …  false  missing        1      2  W./C. 6607        23.45    missing    S
 890 │         890      true       1  Behr, Mr. Karl Howell               true       26.0      0      0  111369            30.0     C148       C
 891 │         891     false       3  Dooley, Mr. Patrick                 true       32.0      0      0  370376             7.75    missing    Q
                                                                                                                                        870 rows omitted

In [194]:
# Get missing stats

emptycols = count.(ismissing, eachcol(df))
emptyperc = round.(emptycols ./ fill(size(df)...), digits = 3)
sort(DataFrame(Column = names(df), Total = emptycols, Percent = emptyperc), :Total, rev = true)

12×3 DataFrame
 Row │ Column       Total  Percent
     │ String       Int64  Float64
─────┼─────────────────────────────
   1 │ Cabin          687    0.771
   2 │ Age            177    0.199
   3 │ Embarked         2    0.002
   4 │ PassengerId      0    0.0
   5 │ Survived         0    0.0
   6 │ Pclass           0    0.0
   7 │ Name             0    0.0
   8 │ Sex              0    0.0
   9 │ SibSp            0    0.0
  10 │ Parch            0    0.0
  11 │ Ticket           0    0.0
  12 │ Fare             0    0.0

In [122]:

colwise(ismissing,df)
# count.(ismissing, eachcol(df))

LoadError: UndefVarError: colwise not defined

In [192]:
cabin = @pipe dropmissing(df[:,[:Survived,:Cabin]]) |> sort(_,rev=true)
show(cabin, allrows=true)
cabin.Cabin = getindex.(cabin[:,:Cabin],1)

204×2 DataFrame
 Row │ Survived  Cabin
     │ Bool      String15
─────┼───────────────────────────
   1 │     true  G6
   2 │     true  G6
   3 │     true  F4
   4 │     true  F4
   5 │     true  F33
   6 │     true  F33
   7 │     true  F33
   8 │     true  F2
   9 │     true  F2
  10 │     true  F E69
  11 │     true  E8
  12 │     true  E8
  13 │     true  E68
  14 │     true  E67
  15 │     true  E50
  16 │     true  E49
  17 │     true  E44
  18 │     true  E40
  19 │     true  E36
  20 │     true  E34
  21 │     true  E33
  22 │     true  E33
  23 │     true  E25
  24 │     true  E25
  25 │     true  E24
  26 │     true  E24
  27 │     true  E17
  28 │     true  E121
  29 │     true  E121
  30 │     true  E12
  31 │     true  E101
  32 │     true  E101
  33 │     true  E101
  34 │     true  E10
  35 │     true  D9
  36 │     true  D7
  37 │     true  D56
  38 │     true  D49
  39 │     true  D47
  40 │     true  D45
  41 │     true  D37
  42 │     true  D36
  43 │     true  D36
  44 │     true  D35
  45 │     true  D35
  46 │     true  D33
  47 │     true  D33
  48 │     true  D28
  49 │     true  D21
  50 │     true  D20
  51 │     true  D20
  52 │     true  D19
  53 │     true  D17
  54 │     true  D17
  55 │     true  D15
  56 │     true  D11
  57 │     true  D10 D12
  58 │     true  D
  59 │     true  D
  60 │     true  C99
  61 │     true  C93
  62 │     true  C93
  63 │     true  C92
  64 │     true  C92
  65 │     true  C90
  66 │     true  C85
  67 │     true  C83
  68 │     true  C78
  69 │     true  C70
  70 │     true  C7
  71 │     true  C68
  72 │     true  C65
  73 │     true  C62 C64
  74 │     true  C54
  75 │     true  C52
  76 │     true  C52
  77 │     true  C50
  78 │     true  C47
  79 │     true  C45
  80 │     true  C32
  81 │     true  C23 C25 C27
  82 │     true  C23 C25 C27
  83 │     true  C22 C26
  84 │     true  C2
  85 │     true  C148
  86 │     true  C126
  87 │     true  C126
  88 │     true  C125
  89 │     true  C125
  90 │     true  C123
  91 │     true  C106
  92 │     true  C104
  93 │     true  C103
  94 │     true  C101
  95 │     true  B96 B98
  96 │     true  B96 B98
  97 │     true  B96 B98
  98 │     true  B96 B98
  99 │     true  B80
 100 │     true  B79
 101 │     true  B78
 102 │     true  B77
 103 │     true  B77
 104 │     true  B73
 105 │     true  B69
 106 │     true  B58 B60
 107 │     true  B57 B59 B63 B66
 108 │     true  B57 B59 B63 B66
 109 │     true  B51 B53 B55
 110 │     true  B50
 111 │     true  B5
 112 │     true  B5
 113 │     true  B49
 114 │     true  B49
 115 │     true  B42
 116 │     true  B41
 117 │     true  B4
 118 │     true  B39
 119 │     true  B35
 120 │     true  B35
 121 │     true  B3
 122 │     true  B28
 123 │     true  B28
 124 │     true  B22
 125 │     true  B20
 126 │     true  B20
 127 │     true  B18
 128 │     true  B18
 129 │     true  B101
 130 │     true  A6
 131 │     true  A34
 132 │     true  A31
 133 │     true  A26
 134 │     true  A23
 135 │     true  A20
 136 │     true  A16
 137 │    false  T
 138 │    false  G6
 139 │    false  G6
 140 │    false  F38
 141 │    false  F2
 142 │    false  F G73
 143 │    false  F G73
 144 │    false  F G63
 145 │    false  E77
 146 │    false  E67
 147 │    false  E63
 148 │    false  E58
 149 │    false  E46
 150 │    false  E44
 151 │    false  E38
 152 │    false  E31
 153 │    false  D6
 154 │    false  D50
 155 │    false  D48
 156 │    false  D46
 157 │    false  D30
 158 │    false  D26
 159 │    false  D26
 160 │    false  D
 161 │    false  C95
 162 │    false  C91
 163 │    false  C87
 164 │    false  C86
 165 │    false  C83
 166 │    false  C82
 167 │    false  C78
 168 │    false  C68
 169 │    false  C65
 170 │    false  C49
 171 │    false  C46
 172 │    false  C30
 173 │    false  C23 C25 C27
 174 │    false  C23 C25 C27
 175 │    false  C22 C26
 176 │    false  C22 C26
 177 │    false  C2
 178 │    false  C128
 179 │    false  C124
 180 │    false  C124
 181 │    false  C123
 182 │    false  C118
 183 │    false  C111
 184 │    false  C110
 185 │    false  B94
 186 │    false  B86
 187 │    false  B82 B84
 188 │    false  B71
 189 │    false  B58 B60
 190 │    false  B51 B53 B55
 191 │    false  B38
 192 │    false  B37
 193 │    false  B30
 194 │    false  B22
 195 │    false  B19
 196 │    false  B102
 197 │    false  A7
 198 │    false  A5
 199 │    false  A36
 200 │    false  A32
 201 │    false  A24
 202 │    false  A19
 203 │    false  A14
 204 │    false  A10

204-element Vector{Char}:
 'G': ASCII/Unicode U+0047 (category Lu: Letter, uppercase)
 'G': ASCII/Unicode U+0047 (category Lu: Letter, uppercase)
 'F': ASCII/Unicode U+0046 (category Lu: Letter, uppercase)
 'F': ASCII/Unicode U+0046 (category Lu: Letter, uppercase)
 'F': ASCII/Unicode U+0046 (category Lu: Letter, uppercase)
 'F': ASCII/Unicode U+0046 (category Lu: Letter, uppercase)
 'F': ASCII/Unicode U+0046 (category Lu: Letter, uppercase)
 'F': ASCII/Unicode U+0046 (category Lu: Letter, uppercase)
 'F': ASCII/Unicode U+0046 (category Lu: Letter, uppercase)
 'F': ASCII/Unicode U+0046 (category Lu: Letter, uppercase)
 'E': ASCII/Unicode U+0045 (category Lu: Letter, uppercase)
 'E': ASCII/Unicode U+0045 (category Lu: Letter, uppercase)
 'E': ASCII/Unicode U+0045 (category Lu: Letter, uppercase)
 ⋮
 'B': ASCII/Unicode U+0042 (category Lu: Letter, uppercase)
 'B': ASCII/Unicode U+0042 (category Lu: Letter, uppercase)
 'B': ASCII/Unicode U+0042 (category Lu: Letter, uppercase)
 'B': ASCII/Unicode U+0042 (category Lu: Letter, uppercase)
 'A': ASCII/Unicode U+0041 (category Lu: Letter, uppercase)
 'A': ASCII/Unicode U+0041 (category Lu: Letter, uppercase)
 'A': ASCII/Unicode U+0041 (category Lu: Letter, uppercase)
 'A': ASCII/Unicode U+0041 (category Lu: Letter, uppercase)
 'A': ASCII/Unicode U+0041 (category Lu: Letter, uppercase)
 'A': ASCII/Unicode U+0041 (category Lu: Letter, uppercase)
 'A': ASCII/Unicode U+0041 (category Lu: Letter, uppercase)
 'A': ASCII/Unicode U+0041 (category Lu: Letter, uppercase)

In [191]:
@pipe groupby(cabin, :Cabin) |>
      combine(_,
          :Survived => sum => :Survived,
          :Survived => (s -> count(s .== false)) => :Died,
          nrow,
          :Survived => (s -> round(sum(s) / count(s .== false), digits = 2)) => :Ratio
      ) |> sort(_, :Ratio, rev = true)

8×5 DataFrame
 Row │ Cabin  Survived  Died   nrow   Ratio
     │ Char   Int64     Int64  Int64  Float64
─────┼────────────────────────────────────────
   1 │ D            25      8     33     3.12
   2 │ E            24      8     32     3.0
   3 │ B            35     12     47     2.92
   4 │ F             8      5     13     1.6
   5 │ C            35     24     59     1.46
   6 │ G             2      2      4     1.0
   7 │ A             7      8     15     0.88
   8 │ T             0      1      1     0.0